@import '../variables.scss';

.gridProducts {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    row-gap: 25px;
    column-gap: 15px;    
    justify-content: center;
    grid-auto-rows: minmax(50px, auto);

    .nav {
        grid-column: span 4;
    }

    &__card {
        border: 1px solid $color-border-card;
        
        &--icon {
            position: relative;
            z-index: 2; 
        }

        &--infos {
            display: grid;
            gap: 20px;
            justify-items: center;
            padding: 0px 15px 40px 15px;
            z-index: 1;
            margin-top: -20px;
        
        }

        &--image {
            .product-img {
                height: 125px;
                width: auto;
            }
        }

        &--description {
            color: $font-color-detail1;
            font-family: $font-family-normal;
            font-size: $font-size;
            font-weight: bold;
        }

        &--price {
            color: $font-color-detail2;
            font-family: $font-family-normal;
            font-size: $font-size;
            font-weight: bold;
        }
    }
}