<div class="gridProducts">
    <div class="nav">
        <%- include('navigation') %>
    </div>
    <div class="gridProducts__card">
        <div class="gridProducts__card--favorite">
            <img class="gridProducts__card--icon" src="icons/bookmark.svg"/>
        </div>
        <div class="gridProducts__card--infos">
            <div class="gridProducts__card--image">
                <img class="product-img" src="https://via.placeholder.com/300x300"/>
            </div>
            <div class="gridProducts__card--description">
                <span>Nome do Produto</span>
            </div>
            <div class="gridProducts__card--price">
                <span>R$ 4.00</span>
            </div>
        </div>
        
    </div>
    <div class="gridProducts__card">
        <div class="gridProducts__card--favorite">
            <img class="gridProducts__card--icon" src="icons/bookmark.svg"/>
        </div>
        <div class="gridProducts__card--infos">
            <div class="gridProducts__card--image">
                <img class="product-img" src="https://via.placeholder.com/300x300"/>
            </div>
            <div class="gridProducts__card--description">
                <span>Nome do Produto</span>
            </div>
            <div class="gridProducts__card--price">
                <span>R$ 4.00</span>
            </div>
        </div>
        
    </div>
    <div class="gridProducts__card">
        <div class="gridProducts__card--favorite">
            <img class="gridProducts__card--icon" src="icons/bookmark.svg"/>
        </div>
        <div class="gridProducts__card--infos">
            <div class="gridProducts__card--image">
                <img class="product-img" src="https://via.placeholder.com/300x300"/>
            </div>
            <div class="gridProducts__card--description">
                <span>Nome do Produto</span>
            </div>
            <div class="gridProducts__card--price">
                <span>R$ 4.00</span>
            </div>
        </div>
        
    </div>
    <div class="gridProducts__card">
        <div class="gridProducts__card--favorite">
            <img class="gridProducts__card--icon" src="icons/bookmark.svg"/>
        </div>
        <div class="gridProducts__card--infos">
            <div class="gridProducts__card--image">
                <img class="product-img" src="https://via.placeholder.com/300x300"/>
            </div>
            <div class="gridProducts__card--description">
                <span>Nome do Produto</span>
            </div>
            <div class="gridProducts__card--price">
                <span>R$ 4.00</span>
            </div>
        </div>
        
    </div>
    <div class="gridProducts__card">
        <div class="gridProducts__card--favorite">
            <img class="gridProducts__card--icon" src="icons/bookmark.svg"/>
        </div>
        <div class="gridProducts__card--infos">
            <div class="gridProducts__card--image">
                <img class="product-img" src="https://via.placeholder.com/300x300"/>
            </div>
            <div class="gridProducts__card--description">
                <span>Nome do Produto</span>
            </div>
            <div class="gridProducts__card--price">
                <span>R$ 4.00</span>
            </div>
        </div>
        
    </div>

   
   

</div>