
$color-primary: #5a2f80;
$color-primary-strong: #37104f;
$color-secondary: #ffff;

$font-color-contrast: #ffff;
$font-color-normal: #000000;
$font-color-detail1: gray;
$font-color-detail2: yellow;

$font-family-title: 'Arial Black';
$font-family-normal: 'Arial';
$font-size: 1rem;
$font-size-title: 1.5rem; 
